.search-input {
  width: 100%;
  background: transparent;
  color: inherit;
  outline: hsl(160, 50%, 75%) solid 2px;
  border-radius: 20px;
  padding: 12px;
  font-size: x-large;
  border: none;
  margin-bottom: 25px;
}
.search-input::placeholder{
  font-size: 14px;
  color: var(--light);
}
.App {
  padding: 2rem;
}
h5 {
  position: absolute;
  font-size: 20px;
  top: 160px;
  right: 5px;
  text-decoration: underline;
}
.alive{
  color: green;
}
.dead{
  color: red;
}
